.trackItem {
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #efefef;
}

.trackItem:hover {
  background-color: #fff;
}

.trackItem__name {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.trackItem .material-icons {
  vertical-align: middle !important;
}

.trackItem__firstBtns {
  display: inline-block;
  vertical-align: top;
}

.trackItem__endBtns {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.trackItem__edit {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
}

.trackItem__delete {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
  cursor: pointer;
}

.trackItem__addToPlaylist {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px !important;
  margin-right: 14px !important;
  cursor: pointer;
}
