.playlistManager {

}

.audioManage__backBtn {

}

.playlistManager__list {
  display: inline-block;
  vertical-align: top;
  width: 520px;
  margin-left: 18px;
  margin-right: 30px;
}

.playlistManager__addBtn {
    display: inline-block;
    vertical-align: top;
}