.AudioEditForm {

}

.AudioEditForm__form {

}

.AudioEditForm__saveLine {
  display: flex;
  margin-top: 30px;
}

.AudioEditForm__addBtn {
}

.AudioEditForm__fileLine {

}

.AudioEditForm__trackFileName {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
}

.AudioEditForm__trackFileName_error {
  color:#f44336;
}

.AudioEditForm__saveProgress {
  margin-left: 20px !important;
}

.AudioEditForm__uploadProgress {
  margin-left: 20px !important;
}