.playListItem {
  line-height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #efefef;
}

.playListItem:hover {
  background-color: #fff;
}

.playListItem__name {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-right: 4px;
}

.playListItem__btns {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.playListItem__edit {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
}

.playListItem__delete {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
  cursor: pointer;
}

.playListItem__setCurrent {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 400;
  color: #858585;
  padding: 10px 15px;
  border: 1px solid #858585;
  border-radius: 5px;
  cursor: pointer;
  line-height: 17px;
}

.playListItem__setCurrent:hover {
  border-color: #444;
  color: #444;
}

.playListItem__setCurrent_current {
  color: #f50057;
  border:none;
}
