.playListItem {
  line-height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #efefef;
}

.playListItem:hover {
  background-color: #fff;
}

.playListItem__name {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-right: 4px;
}

.playListItem__edit {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
}

.playListItem__delete {
  display: inline-block;
  vertical-align: top;
  margin:0 7px !important;
  cursor: pointer;
}
