.backgroundEditForm {

}

.backgroundEditForm__form {

}

.backgroundEditForm__saveLine {
  display: flex;
  margin-top: 30px;
}

.backgroundEditForm__addBtn {
}

.backgroundEditForm__fileLine {

}

.backgroundEditForm__trackFileName {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
}

.backgroundEditForm__trackFileName_error {
  color:#f44336;
}

.backgroundEditForm__fileError {
  color:#f44336;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 7px;
}

.backgroundEditForm__saveProgress {
  margin-left: 20px !important;
}

.backgroundEditForm__uploadProgress {
  margin-left: 20px !important;
}
