.loginForm {
  width: 350px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px 40px;
  background-color: #fdfdfdf1;
  box-shadow: 1px 3px 2px 0px rgb(232, 232, 232);

  &__field {
    margin-bottom: 20px;
  }

  &__loginBtn {

  }
}